<h1>Listing owners</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile_no</th>
  </tr>
 
  <% @owners.each do |owner| %>
    <tr>
      <td><%= owner.name %></td>
      <td><%= owner.email %></td>
      <td><%= owner.mobile_no %></td>
     
    </tr>
  <% end %>
</table>