<h1 style="color:DodgerBlue;">Welcome To Warehouse</h1><br>




<label for="user">Choose an User:</label>
<select name="user" id="user">
<option <%= link_to 'owner',controller: 'owners' %></option>
  <option value="supplier">Supplier</option>
  <option value="shopkeeper" selected>Shopkeeper</option>
</select>



