<h1 style="color:DodgerBlue;">Welcome To Warehouse</h1><br>


<%= link_to 'Sign up',  new_user_registration_path %><br>


<label for="user">Choose an User:</label>
<select name="user" id="user">
<option <%= link_to 'owner',controller: 'owners' %></option>
  <option value="supplier">Supplier</option>
  <option value="shopkeeper" selected>Shopkeeper</option>
</select>


<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>

