<h1>Orders</h1>
 
 <table>
  <tr>
    <th>Order No.</th>
    <th colspan="3"></th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.order_no %></td>
      <td><%= link_to 'Show', order_path(order) %></td>
    </tr>
  <% end %>

</table>

 
 
