<h1>Listing Warehouse Items</h1>
<table>
  <tr>
    <th>Name</th>
    
    <th colspan="3"></th>
  </tr>
 
  <% @warehouse_items.each do |warehouse_item| %>
    <tr>
      <td><%= warehouse_item.name %></td>
       <td><%= link_to 'Show', warehouse_item_path(warehouse_item) %></td>
    
    </tr>
  <% end %>
</table>
