<h1>Categories</h1>
<% @categories.each do |category| %>
  <p>
    <strong>name:</strong>
    <%= category.name %>
  </p>
   <td><%= link_to 'Show', category_path(warehouse_item_id: category.warehouse_item_id,id: category.id) %>
   </td>
   
<% end %>
