<h1>Categories</h1>
<% @categories.each do |category| %>
  <p>
    <strong>name:</strong>
    <%= category.name %>
  </p>
   <td><%= link_to 'Show', warehouse_category_path(warehouse_id: category.warehouse_id,id: category.id) %></td>



<% end %>
