<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>
 
<p>
  <strong>mobile:</strong>
  <%= @supplier.mobile_no %>
</p>

<p>
  <strong>Product Quantity:</strong>
  <%= @supplier.product_quantity %>
</p>

<p>
  <strong>Product Price:</strong>
  <%= @supplier.product_price %>
</p>


